* {
    margin: 0;
    padding: 0;
    list-style: none;
    

}

body {
    background: #b4b4b4;

}

.contentMain{
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

header {
    background: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid #050508;
}

.contentHeader {
    background: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
}

header nav ul a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
}

header nav ul {
    display: flex;

}

header nav ul a:hover {
    text-decoration: underline;
    color: orange;
}

header h1 {
    margin: 20px;
}

.carrousel article img{
    width: 100%
}

.carrousel img{
    border-radius: 10px;
    width: 100%;

}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.card{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid gray;
}

.extra{
    background: #ddd;
    padding: 30px;
    text-align: center;
}

/* foote */
footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;

}

/*pagina sobre*/
.paginaSobre h1{
    color: #191970;
    padding-top: 10px;
    margin-bottom: 20px; 
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden
}